body {
}

.active {
  color: #53acff;
}

.reelSearch {
  position: absolute;
  width: 40vw;
  top: 40vh;
  left: 50vw;
  margin-left: -20vw;
}

.searchBar {
  display: inline-table;
  width: 30vw;
  font-size: 3em;
  text-align: center;
  outline: none;
}

.query {
  display: inline-table;
  width: 15vw;
  height: 2.5vw;
}
